@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



body {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 2.08rem;
  font-weight: 300;
  color: #272727;
  margin: 0px;
}

.btn {
  background-color: #272727;
  color: #FFFFFF;
  border-radius: 0rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 4.2rem;
  line-height: 4.6rem;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 1.6rem;
}

header {
  background-color: #FBFAF9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1440px;
  height: 69px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1085px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9rem;
  margin-bottom: 0rem;
}

.hero-left ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 776px; 
  margin-bottom: 0px;
}

.hero-left li {
  min-width: 0;
  margin-right: 2.2rem;
  position: relative;
  overflow: hidden;
}

.hero-left li img {
  width: 100%;
  height: auto;
}

.hero-left li::after {
  content: "";
  position: absolute;
  inset: 0;                      
  background: rgba(251, 250, 249, 0.16); 
  backdrop-filter: blur(6px);         
  -webkit-backdrop-filter: blur(38px); 
  transition: opacity .2s ease;
  opacity: 1;
  pointer-events: none;  
}   

.hero-left li:hover::after{
  opacity: 0;
}

.hero-right {
  max-width: 25.4rem;
  margin-left: 2.9rem;
  margin-bottom: 0px;
  margin-right: 2.2rem;
}

.hero-right p {
  margin-top: 0px;
  margin-bottom: 3rem;
  height: 8.4rem;
}

.hero-right .btn {
  margin-top: auto;
}

html {
  font-size: 10px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

img {
  display: block; 
  max-width: 100%;
  height: auto;
}

.img-hero1 {
  height: 498px;
  width: 244px;
  border-radius: 0px;
}

.img-hero2 {
  height: 498px;
  width: 244px;
  border-radius: 0px;
}

.img-hero3 {
  height: 498px;
  width: 244px;
  border-radius: 0px;
}

.input {
  width: 34.7rem;
  height: 3.7rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding-left: 1.9rem;
  font-size: 1.4rem;
  border: 1px solid #272727;
  border-radius: 0px;
  color: #272727
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: none;
  border-radius: 0px;
  z-index: 10;
  background-color: #ffffff;
  width: 499px;
  height: 577px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.modal-header {
  display: flex;
  align-items: flex-start;
}

h2 {
  font-size: 4.4rem;
  font-weight: 500;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5rem;
  font-weight: light;
  color: #686868;
  z-index: 10;
  position: absolute;
  top: 7px; 
  right: 12px;
}

.modal-body {
  text-align: center;
  margin-top: 3.85rem;
}

.modal-body p{
  width: 34.7rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 1.6rem;
}

.modal-body a{
  text-decoration: none;
  color: #686868;
  font-size: 1.4rem;
}

.modal-body span {
  color: #686868;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 1085px;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;;
}

.nav-left li {
  padding-right: 4.5rem;
  font-weight: 400;
  cursor: pointer;
}

.nav-right li {
  padding-left: 2.2rem;
  cursor: pointer;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.16);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.submit-btn {
  background-color: #272727;
  color: #FFFFFF;
  border-radius: 0rem;
  padding-left: 14.7rem;
  padding-right: 14.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1.9rem;
}

.text-highlight {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.text-highlight::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #E3f7fe;
  height: 28px;
  left: 12.2rem;
  bottom: -12px;
  width: 0%;
  opacity: 1;
  animation: highlightExpand 0.5s ease forwards;
  animation-delay: 3.5s;
}

@keyframes highlightExpand {
  from {
    width: 0%;
  }
  to {
    width: 51%;
  }
}

ul {
  list-style: none;
}



